<header class="page-header">
    <a class="btn btn-primary" href="/users/logout">Log Out <span class="badge"><%= user %></span></a> 
    <% if(title!=='Home') { %>
        <a class="btn btn-primary" href="/">Salir</a> 
    <% } %>
</header>

