<!DOCTYPE html>
<html>
    <head>
        <% include headerStuff %>
    </head>
    <body>
        <div class="container">
            <% if (locals.messages.length > 0) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> <%= locals.messages %>
            </div>
            <% } %>
            <form class="form-signin" method="POST" action="/users/login/send">
                <h2 class="form-signin-heading">Logueate</h2>
                
                <label for="username" class="sr-only">Usuario</label>
                <input id="username" name="username"  class="form-control" placeholder="Usuario" required="" autofocus="" type="text">
                
                <label for="password" class="sr-only">Contraseña</label>
                <input id="password" name="password" class="form-control" placeholder="Contraseña" required="" type="password">

                <label for="email" class="sr-only">Email</label>
                <input id="email" name="email" class="form-control" type="hidden">
                
                <label for="middleName" class="sr-only">Segundo nombre</label>
                <input id="middleName" name="middleName" class="form-control" type="hidden">
                
                <label for="familyName" class="sr-only">Apellidos</label>
                <input id="familyName" name="familyName" class="form-control"  type="hidden">
                
                <div class="checkbox">
                    <label>
                        <input value="remember-me" type="checkbox"> Recuerdame
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Loguearse</button>
            </form>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" onclick="loginUp()" type="button">Registrarse </button>
        </div>
        <% include footer %>
        <script src="/javascripts/login.js"> </script>
    </body>
</html>